albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1709668585302/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1707233003401/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989838345/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1712429956224/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1707444542994/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1718834593950/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1717209204356/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1717498510112/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1715527344405/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1717455610734/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1713760653872/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1717717537056/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1717182742060/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1710257288950/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380047486/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1712342969017/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706899990285/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1715976206757/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
munkres==1.1.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225541074/work/dist/numpy-1.26.4-cp312-cp312-macosx_10_9_x86_64.whl#sha256=c0e7d196d262a4694628c8965da758026291887ae6e907976eece62f7669407b
opencv-python==4.10.0
opencv-python-headless==4.10.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897629698/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1718833758137/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1705722450561/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1695567612836/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373482406/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1715024415020/work
qudida @ file:///home/conda/feedstock_root/build_artifacts/qudida_1651101164121/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1718816193501/work/dist/scikit_image-0.24.0-cp312-cp312-macosx_10_13_x86_64.whl#sha256=5f05633d553dd39f5981221ccdec411b1cb8ca424b7d58a4e1fd2bef82273499
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1716489807588/work/dist/scikit_learn-1.5.0-cp312-cp312-macosx_10_13_x86_64.whl#sha256=c2542b1f3cbb2a3862fa2d99aae17619c3fe1f5e1393ffdb183926e1b692da1e
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470284530/work/dist/scipy-1.13.1-cp312-cp312-macosx_10_13_x86_64.whl#sha256=862900183f5c045df207edf71eed969a5dc071cb46d644bfab2c594ceb7a1ac9
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
setuptools==70.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1715941275672/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1718625539893/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1716488387393/work
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1718580134423/work/torch-2.3.1.post100-cp312-cp312-macosx_10_15_x86_64.whl#sha256=126bd9bf7335c33d71c781af1279338f6f1b12aa836fcb65a2b3714ec77fff98
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision_1718090741039/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1717722676093/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718653059220/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
wheel==0.43.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
